* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_534 {
  width: 393px;
  height: 592px;
  background: url('../images/v1_534.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 20px;
  margin: 12px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_535 {
  width: 353px;
  height: 552px;
  background: url('../images/v1_535.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.v1_536 {
  width: 353px;
  height: 339px;
  background: rgba(246, 246, 246, 1);
  padding: 12px 12px;
  margin: 12px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_537 {
  width: 329px;
  height: 30px;
  background: url('../images/v1_537.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.v1_538 {
  width: 329px;
  height: 30px;
  background: url('../images/v1_538.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_539 {
  width: 93px;
  color: rgba(31, 31, 31, 1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Barlow Condensed;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_540 {
  width: 329px;
  height: 273px;
  background: url('../images/v1_540.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 12px;
  overflow: hidden;
}
.v1_541 {
  width: 329px;
  height: 120px;
  background: url('../images/v1_541.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_545 {
  width: 329px;
  height: 141px;
  background: url('../images/v1_545.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_550 {
  width: 353px;
  height: 427px;
  background: rgba(246, 246, 246, 1);
  padding: 12px 12px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 351px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v1_551 {
  width: 329px;
  height: 30px;
  background: url('../images/v1_551.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.v1_552 {
  width: 88px;
  height: 30px;
  background: url('../images/v1_552.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_553 {
  width: 88px;
  color: rgba(31, 31, 31, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Barlow Condensed;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_554 {
  width: 329px;
  height: 361px;
  background: url('../images/v1_554.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 12px;
  overflow: hidden;
}
.v1_555 {
  width: 329px;
  height: 63px;
  background: url('../images/v1_555.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_558 {
  width: 329px;
  height: 102px;
  background: url('../images/v1_558.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 71px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_562 {
  width: 329px;
  height: 180px;
  background: url('../images/v1_562.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 181px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
