@import '../abstracts/_variables.scss';
.crewInfo {
  font-family: Roboto;
  button {
    border-radius: 8px;
  }
  &__container {
    display: flex;
    padding: 3.94vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.56vh;
    align-self: stretch;
    border-radius: 2.36vw;
    background: $clr-primary-4;
  }
  &__infoUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.39vh;
    align-self: stretch;
  }
  &__avatar {
    display: flex;
    padding: 0.98vw;
    align-items: center;
    gap: 0.98vh;
    img {
      width: 9.84vw;
      height: 4.88vh;
    }
  }
  &__infoMid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  }
  &__nameStatus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2.36vw;
      align-self: stretch;
      p {
        color: $clr-primary-3;
        text-align: center;

        font-family: 'Barlow Condensed';
        font-size: 5.51vw;
        font-style: normal;
        font-weight: 600;
        line-height: 4.1vh;
      }
    }
  }
  &__status {
    display: flex;
    padding: 0.39vh 1.57vw;
    justify-content: center;
    align-items: center;
    gap: 0.98vh;
    border-radius: 1.57vw;
    border: 0.2vw solid $clr-complimentary-green-4;
    background: $clr-complimentary-green-1;
    p {
      color: $clr-complimentary-green-4;

      font-size: 2.36vw;
      font-style: normal;
      font-weight: 400;
      line-height: 1.46vh;
    }
  }
  &__roleDate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.39vh;
    &__role {
      color: var(--Complimentary-Blue-2, #4483b3);

      font-size: 3.15vw;
      font-style: normal;
      font-weight: 400;
      line-height: 1.95vh;
    }
    &__date {
      color: $clr-complimentary-black-50;

      font-size: 3.15vw;
      font-style: normal;
      font-weight: 400;
      line-height: 1.95vh;
    }
  }
  &__infoMid {
    display: flex;
    padding: 2.36vw;
    justify-content: center;
    align-items: center;
    gap: 2.36vw;
    align-self: stretch;
    border-radius: 2.36vw;
    background: $clr-complimentary-black-10;
    flex-direction: row;
    &__left {
      display: flex;
      width: 18.66%;
      height: 3.048%;
      flex-direction: column;
      align-items: center;
      border-right: 1px solid $clr-primary-3;

      .currentHour {
        color: $clr-complimentary-orange-4;

        font-family: 'Barlow Condensed';
        font-size: 3.15vw;
        font-style: normal;
        font-weight: 600;
        line-height: 2.34vh;
      }
      .divider {
        color: $clr-complimentary-orange-3;

        font-family: 'Barlow Condensed';
        font-size: 3.15vw;
        font-style: normal;
        font-weight: 600;
        line-height: 2.34vh;
      }
      &__title {
        color: $clr-complimentary-black-50;

        font-size: 2.76vw;
        font-style: normal;
        font-weight: 500;
        line-height: 1.71vh;
      }
    }
    &__mid {
      display: flex;
      width: 27.876%;
      height: 2.8448%;
      flex-direction: column;
      align-items: center;
      &__flights {
        color: $clr-secondary-2;

        font-family: 'Barlow Condensed';
        font-size: 3.15vw;
        font-style: normal;
        font-weight: 600;
        line-height: 2.34vh;
      }
    }
    &__right {
      width: 36.108%;
      height: 4.224%;
      display: flex;
      width: 23.62%;
      flex-direction: column;
      align-items: center;
      border-left: 1px solid $clr-primary-3;
      &__pto {
        color: $clr-secondary-1;

        font-family: 'Barlow Condensed';
        font-size: 3.15vw;
        font-style: normal;
        font-weight: 600;
        line-height: 2.34vh;
      }
    }
  }
  &__infolow {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2.36vw;
    align-self: stretch;
    flex-direction: row;
    &__left {
      display: flex;
      padding: 0.59vh 2.36vw;
      justify-content: center;
      align-items: center;
      gap: 0.79vw;
      border-radius: 8px;
      border: 1px solid $clr-complimentary-black-60;
      width: 15.55%;
      height: 2.54%;
    }
    &__mid {
      display: flex;
      padding: 0.59vh 2.36vw;
      justify-content: center;
      align-items: center;
      gap: 0.79vw;
      border-radius: 8px;
      border: 1px solid $clr-complimentary-black-60;
      width: 23.23%;
      height: 2.54%;
    }
    &__right {
      display: flex;
      padding: 0.59vh 2.36vw;
      justify-content: center;
      align-items: center;
      gap: 0.79vw;
      border-radius: 8px;

      background: $clr-primary-2;
      width: 32.09%;
      height: 3.52%;
    }
    &__title {
      font-size: 2.2vw;
      font-style: normal;
      font-weight: 400;
      line-height: 3.94vw;
    }
  }
  svg {
    width: 2.5vmin;
    height: 2.5vmin;
  }
}
