@import '../abstracts/_variables.scss';
.flightTableForCrew {
  // margin: 1rem;
  border-radius: 8px;
  display: flex;
  // padding: 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem; // Approximate equivalent of 12px on a 1024px high screen
  // border-radius: 1.17vh; // Approximate equivalent of 12px on a 1024px high screen
  align-self: stretch;
  &__container {
    display: flex;
    padding: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    align-self: stretch;
  }
  &__frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
    &__title {
      display: flex;
      width: 22.0625rem;
      align-items: center;
      gap: 0.25rem;
    }
  }
  &__title {
    color: $clr-primary-3;
    font-family: 'Barlow Condensed';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
  &__count {
    display: flex;
    padding-top: 0.125rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    color: $clr-complimentary-black-45;

    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 0.9375rem */
  }
  &__table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }
  &__list {
    width: 100%;

    .FlightTableHeader {
      display: flex;
      justify-content: space-between;
      padding: 0.25rem 0.5rem;
      align-items: flex-start;
      gap: 1rem;
      border-radius: 0.125rem 0.125rem 0rem 0rem;
      background: $clr-complimentary-black-95;
      color: $clr-primary-4;
      font-family: Roboto;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 125%;

      .first{
        width: 150px;
      }
    }
  }
  &__item {
    display: flex;

    padding: 0.75rem 5px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
    height: 3.5rem;
    border-bottom: 1px solid $clr-complimentary-black-50;
    &_column1 {
      width: 150px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: $clr-primary-3;
      font-family: Roboto;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.25rem;
      &_from {
        font-size: 0.625rem;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        color: $clr-complimentary-black-50;
      }
      button {
        display: flex;
        padding: 4px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        margin-left: auto;
        color: #f4f4f4;
      }
    }
  }
  .liItemDesktop {
    display: flex;

    color: $clr-complimentary-black-45;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
  }
}
