@import '../abstracts/_variables.scss';
.flightTable {
  font-family: 'Roboto', 'Arial';
  display: flex;
  width: 50vw;
  padding: 2vw;
  align-items: flex-start;
  gap: 2vw;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2vw;
    flex: 1 0 0;
  }
  &__frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8vw;
    align-self: stretch;
    &__title {
      display: flex;
      height: calc(30 / 852 * 100vh);
      align-items: center;
      gap: 0.4vw;
      align-self: stretch;
      h3 {
        font-family: 'Barlow Condensed';
        color: $clr-primary-3;
        font-size: calc(12px + 2.04vw);
        font-style: normal;
        font-weight: 600;
        line-height: 3vw;
      }
    }
  }
  &__count {
    display: flex;
    padding-top: calc(2 / 852 * 100vh);
    align-items: center;
    gap: calc(10 / 393 * 100vw);
    align-self: stretch;

    ///////

    color: $clr-complimentary-black-45;
    font-family: 'Roboto';
    font-size: calc(12 / 392 * 100vw);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5vw;
  }
  &__tabs {
    width: 100%;

    height: calc(36 / 852 * 100vh);
    display: flex;
    align-items: center;
    flex: 1 0 0;
    border-radius: 12px;
    border: 1px solid $clr-complimentary-black-30;
  }
  &__tab {
    display: flex;
    height: 4vh;
    padding: 1vh 1.5vh;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    flex: 1 0 0;
    color: $clr-complimentary-black-50;
  }
  &__tab--active {
    display: flex;
    height: calc(36 / 852 * 100vh);
    padding: calc(8 / 852 * 100vh) calc(12 / 393 * 100vw);
    justify-content: center;
    align-items: center;
    gap: calc(10 / 393 * 100vw);
    border-radius: 12px;
    flex: 1 0 0;
    background: $clr-primary-1;

    color: $clr-primary-4;
  }
  &__labels {
    display: flex;
    padding: calc(4 / 852 * 100vh) calc(8 / 393 * 100vw);
    align-items: flex-start;
    gap: calc(12 / 393 * 100vw);
    align-self: stretch;
    border-radius: 2px 2px 0px 0px;
    background: $clr-complimentary-black-05;
  }
  &__label1 {
    display: flex;
    width: calc(160 / 393 * 100vw);
    align-items: center;
    p {
      display: flex;
      width: calc(160 / 393 * 100vw);
      align-items: center;
      flex-shrink: 0;
    }
  }
  &__label2 {
    display: flex;
    align-items: center;
    gap: calc(8 / 393 * 100vw);
    flex: 1 0 0;
  }
  &__label3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 0;
    p {
      // display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      margin: 0;
      text-align: right; // Add this line
      margin-left: calc(65 / 393 * 100vw);
    }
  }
  &__item {
    display: flex;
    padding: calc(12 / 852 * 100vh) calc(8 / 393 * 100vw);
    align-items: center;
    gap: calc(12 / 393 * 100vw);
    align-self: stretch;
    border-bottom: calc(1 / 852 * 100vh) solid $clr-complimentary-black-50;
  }
  &__flightAndAbbrev {
    display: flex;
    width: calc(160 / 393 * 100vw);
    flex-direction: column;
    align-items: flex-start;

    color: $clr-primary-3;
    font-family: Roboto;
    font-size: calc(12 / 852 * 100vh);
    font-style: normal;
    font-weight: 500;
    line-height: calc(15 / 852 * 100vh);
  }
  &__fromTo {
    font-size: calc(10 / 852 * 100vh);
    color: $clr-complimentary-black-50;
  }
  &__containerForStatus {
    width: 30.87vw;
    height: 2.46vh;
    display: flex;
    align-items: flex-start;
  }

  &__flightTable__status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // flex: 1 0 0;
  }
  #statusM {
    display: flex;
    padding: calc(4 / 852 * 100vh) calc(8 / 393 * 100vw);
    justify-content: center;
    align-items: center;
    gap: calc(10 / 393 * 100vw);
    border-radius: 8px;
    border: 1px solid $clr-complimentary-black-20;
    background: $clr-complimentary-black-05;
    font-size: calc(10 / 852 * 100vh);
    font-style: normal;
    font-weight: 400;
    line-height: calc(12.5 / 852 * 100vh);
  }
  &__btn-container {
    display: flex;
    justify-content: flex-end;
  }

  &__addBtnBlue {
    justify-content: flex-end;
    display: flex;
    padding: calc(4 / 852 * 100vh);
    // justify-content: center;
    align-items: center;
    gap: calc(4 / 393 * 100vw);
    border-radius: 8px;
    background: $clr-primary-1;
    margin-left: auto;
  }
  &__addBtnWhite {
    justify-content: flex-end;
    display: flex;
    padding: calc(4 / 852 * 100vh);
    // justify-content: center;
    align-items: center;
    gap: calc(4 / 393 * 100vw);
    border-radius: 8px;
    background: $clr-primary-4;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .flightTable {
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    align-self: center;
    display: flex;
    width: 87.01vw; // 1257px is roughly 87.01vw for a 1440px wide viewport
    padding: 1.95vh; // 20px is roughly 1.95vh for a 1024px high viewport
    align-items: flex-start; // keep as flex-start for desktop view
    gap: 1.39vw; // 20px is roughly 1.39vw for a 1440px wide viewport
    background-color: #f6f6f6; // keep as #f6f6f6 for desktop view
    border-radius: 0.28vw;
    &__frame {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 0.8vw;
      align-self: stretch;
      &__title {
        display: flex;
        align-items: center;
        gap: 0.4vw;
        flex: 2.5 0 0;
        align-self: stretch;

        h3 {
          font-size: 1.39vw;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
        }
      }
    }
    &__count {
      display: flex;
      padding-top: 0.2vh;
      align-items: center;
      gap: 0.69vw;
      align-self: stretch;
      font-size: 0.83vw;
      font-weight: 400;
      line-height: 125%;
    }
    &__tabs {
      display: flex;
      align-items: flex-start;
      width: 19.72vw;
      height: 2.54vh;
    }
    &__tab {
      width: 9.86vw;
      display: flex;
      height: 2.54vh;
      padding: 0.39vh 0.55vw;
      justify-content: center;
      align-items: center;
      gap: 0.69vw;
    }
    &__labels {
      gap: 5.053435vw;
    }
    // #statusM {
    //   background-color: white;
    // }
  }
}
@media (min-width: 768px) {
  .flightTable {
    //in desktop it need to be greyish
    &__addBtnBlue {
      background: $clr-complimentary-black-45;
    }
  }
}
