.form__element{
    margin : 3.1rem 2rem 16.6rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;


    .select__input {
      margin-bottom: 2rem;
    
      p {
        font-size: 1.5rem; // Adjust size as needed
        margin-bottom: 2rem; // Gap under the title
      }
    
      label {
        display: block;
        margin-bottom: 1rem; // Gap between label and select
      }
    
      select {
        width: 100%;
        padding: 1rem;
        border: 1px solid #ccc; // Example border style
        border-radius: 5px; // Example border radius
        font-size: 1rem; // Adjust size as needed
      }
    }

    .input__section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      
        .input__group {
          display: flex;
          gap: 1.2rem;
      
          .input__field {
            display: flex;
            flex-direction: column;
      
            label {
              margin-bottom: 0.5rem;
            }
      
            input {
              padding: 1rem;
              width: 150px; 
              border-bottom: 2px solid var(--Blacks-Black-50, #6D6D6D);
            }
          }
        }
      }
}

.section {
  width: 100%;
  margin-bottom: 2rem;

  &-title {
    font-weight: bold;
    margin-bottom: 0.4rem;
  }

  &-content {
    margin-top: 1.2rem;

    .input__section_flight{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      padding: 1rem 0.8rem;
      border-bottom: 2px solid var(--Blacks-Black-50, #6D6D6D);
      margin-bottom: 1.2rem;
    }

    .aircraft-type {
      width: 100%; 
      border: none; 
      border-bottom: 2px solid var(--Blacks-Black-50, #6D6D6D); 
      margin-top: 0.4rem;
      padding: 1rem 0.8rem;
    }

    .section-subsection {
      width: 50%;
      margin-top: 1.2rem;

      .subsection-title {
        margin-bottom: 0.4rem;
      }

      .subsection-content {
        display: flex;
        flex-direction: row;

        label {
          margin-top: 0.4rem;
        }
        input{
          margin-left: 0.4rem;
        }
      }

      .restriction-checkbox {
        margin-right: 0.4rem;
      }
    }
  }
}