@import '../abstracts/variables';

@mixin button-style($width, $padding, $background, $color, $radius) {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $background;
	color: $color;
	font-family: $ff-primary;
	// font-size: $btn-l-web-font-size;
	// font-weight: $btn-l-web-font-weight;
	// line-height: $btn-l-web-line-height;
	border: none;
	width: $width;
	padding: $padding;
	border-radius: $radius;
	// transition: $transition;
	margin: 1rem auto;

	&:hover {
		// background-color: $btn-hover-background;
		// color: $btn-hover-color;
	}

	&:focus {
		// background-color: $btn-focus-background;
		// color: $btn-focus-color;
	}

	&:active {
		// background-color: $btn-selected-background;
		// color: $btn-selected-color;
	}

	&:disabled {
		// background-color: $btn-disabled-background;
		// color: $btn-disabled-color;
	}
}

@mixin logo-container($width, $height, $radius) {
	width: $width;
	height: $height;
	background-color: $clr-primary-3; // Change to desired background color
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: $radius; // Add border radius as needed
}
