$base-font-size: 16px;
$ff-primary: 'Open Sans', sans-serif;

// Primary Colors
$clr-primary-1: #ffc501;
$clr-primary-2: #000000;
$clr-primary-3: #f7f7f7;
$clr-primary-4: #ff5e67;
$clr-primary-5: #dfe3e8;
$clr-primary-5: #ffffff;
$clr-primary-6: #919eab;
$clr-primary-7: #191c1f;

$primary-btn-width: 12.5rem;
$primary-btn-padding: 0.82rem;

// Secondary Colors
